.Features {
  background-color: var(--gray-light);
  width: 100%;
  padding: 2rem 0;
  display: block;

  &-content {
    margin: 0 auto;
    width: var(--content-width);

    table, table thead, table tbody {
      width: 100%;

      tr {
        height: 1rem;
        padding: 1.5rem 0;
        display: flex;

        th:not(:nth-child(2)) {
          font-size: 1.15rem;
          font-weight: bold;
        }

        td {
          color: var(--gray-dark);
        }

        td, th {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 20%;
          font-weight: normal;

          &:first-child {
            width: 60%;
            justify-content: flex-start;
            font-weight: bold;
            opacity: .9;
          }

          &:not(th):last-child {
            color: var(--accent-blue);
          }
        }
      }
    }
  }
}
